Django
djangorestframework
django-cors-headers
langchain-core
langchain-openai
channels
channels-redis
daphne
silma-tts
soundfile
librosa
numpy
torch
torchaudio
cached_path
ema_pytorch
vocos
x_transformers
transformers
nemo_text_processing
catt_tashkeel
